/* You can add global styles to this file, and also import other style files */
/* * {
    border: 1px dashed red;
} */
body{
    
    text-align: center;
    align-content: center;
    background-color: black;
}
router-outlet {
    background: linear-gradient(silver grey);
    color: grey;
    text-align: center;
    align-content: center;
}