<div class="onecontact">
  <h3>
    The Piano Room
  </h3>
  <br>
  <img src="../../assets/piano2.gif">

  <h5>
    <a href="https://github.com/laurenhesterman/The-Piano-Room">• View Code on GitHub</a>
  </h5>
  <h5>
    <a href="https://youtu.be/ckvO5KZkJ34">• Video Demo</a>
  </h5>

  <p>The Piano Room is a unique musical platform that allows for real-time broadcasting of piano sounds, visuals, and a live
    chat. It utilizes node modules such as web sockets to allow for seamless connectivity between all clients. The Piano
    Room is perfect for virtual piano lessons, songwriting sessions, or long distance performances.</p>
  <h5>Created With:</h5>

  <p>JavaScript
    <br>Express
    <br>Socket.io
    <br>jQuery</p>


</div>


<div class="onecontact">
    <h3>
        Pacman 2.0
      </h3>
      <br>
  <img src="../../assets/pacman.gif">
  <h5>
    <a href="https://github.com/laurenhesterman/Pacman">
      • View Code on GitHub</a>
  </h5>
  <p>Pacman 2.0 is the reimagined Pacman, built for simplicity and customization. The use of jQuery, DOM manipulation, and JavaScript logic allow for a fun game that can be finished without ever refreshing the page.</p>
  <br>
  <h5>Created With:</h5>

  <p>JavaScript
    <br>HTML
    <br>CSS
    <br>jQuery</p>
</div>

<div class="onecontact">
    <h3>
        PseudoChef
      </h3>
      <br>
  <img src="../../assets/pseudo.gif">
  <h5>
    <a href="http://54.88.107.236">• Visit Site</a>
  </h5>
  <h5>
    <a href="https://github.com/laurenhesterman/Pseudochef">• View Code on Github</a>
  </h5>
  <p>PseudoChef is a social recipe site that encourages users to find, create, and share creative, economic, and easy recipes. Users can upvote and downvote recipes, view other users' profiles and creations, and create or delete their own unique recipes.</p>
  <br>
  <h5>Created With:</h5>

  <p>Ruby
    <br>Rails
    <br>PostgreSQL
    <br>Sunspot/Solr</p>
</div>
<div><h3>www.laurenhesterman.com (This Site):</h3><h5>Powered by JavaScript, Angular, and Express </h5></div>
<div><h5>More Projects always on the way!</h5></div>