
#whole {
    width: 100%;
    height: auto;
    /* background: silver; */
        

}
#header {
    position: sticky;
    top: 0;
    
    z-index: 1;
    
}
#header h6{
    text-align: left;
    padding-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#outlet {
    
    /* color: silver; */
}


 #toppart {
    background-image: url("../assets/sky3.gif");
    /* background: linear-gradient(silver, white, silver); */
    opacity: .8;
    /* background-repeat: no-repeat; */
    /* background-size:100% auto; */
    background-size:cover; 
/* background-blend-mode: darken */
overflow: hidden;
position: relative;
   
  
} 
#cover { 
    /* background:green; */
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;;
    -moz-box-shadow: inset 0 0 40px rgba(213, 211, 219, .814);
    -webkit-box-shadow: inset 0 0 40px  rgba(213, 211, 219, .814);
    box-shadow: inset 0px 0px 40px 27px  rgba(213, 211, 219, .814);
    z-index: 0;
}
#insides {
    display: inline-block;
    padding-top: 16%;
    padding-bottom: 16%;
}
#buttondivs {
    /* display: block; */
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: sticky;
    top: 0;
    background-color:rgba(209, 202, 216, 0.914);
    z-index: 1;

}
#buttondivs a {
    size: 15%;
    width: 20px;
    z-index: 1;
    position: sticky;
   /* margin-left: 2em; */

}
.link {
    display: inline-block;
    margin-right: 4em;
    margin-left: 4em;
    /* margin-top: 5px; */
}
h4, h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    color: rgba(0, 0, 0, 0.83);
     /* text-shadow: 2px 2px grey;  */
     display: inline-block;
}
h1, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    color: rgb(105, 71, 105);
    font-stretch: ultra-expanded;
    font-weight: 500;
     /* text-shadow: 2px 2px grey;  */
     display: inline-block;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    /* display: block; */
}
#outlet {
    /* background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(22, 0, 0, .8) 100%); */
    /* background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); */
}
a:hover {
    color: #003200b6
}

button {
    border: none;
    height: 15px;
    width: 50px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.83);
    background-color: transparent;

}

#whole {
    width: 100%;
}
* {
    text-align: center;
    
}

