h3, h5, h1, a, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    color: rgba(0, 0, 0, 0.83);
}
img {
    width:auto;
    height:180px;
    /* opacity: 0.6; */
    /* box-shadow: 0 0 8px 8px black inset; */
}

#intro {
    display: inline-block;
    /* width: 60em; */
    margin-top: 20px;
    width: 60%;
}
#pic {
    display: inline-block;
    /* width: 20%; */
    vertical-align: top;
    margin-top: 30px;
    margin-right: 4%;
    /* box-shadow: 0 0 4px 4px rgb(110, 47, 47) inset; */

}
#tech img{
    display: inline-block;
    width: 100px;
    height: auto;
    background-color: rgba(209, 202, 216, 0.914);
    /* box-shadow: 0 0 3px 3px rgba(56, 21, 21, .8) inset; */
    padding: 6px;
}
#tech {
    margin: 60px;
    
    
}
h3 {
    margin-bottom: 10px;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}