<div id="pic"><img src="../../assets/me.jpg" ></div>

<div id="intro">
<h3>
    Hey! I'm Lauren.
</h3>
<p>
I'm a web developer/software engineer that lives to meet people and search out new experiences. I earned my Bachelor's degrees in Communication and Music Production but have since discovered my passion in code and never looked back. I thrive in fast paced environments, enjoy using my creative intuition to solve complex problems, and look forward to any opportunity I get to learn a new technology or build something useful! <br>
<br>When I'm not working with code, you'll find me hiking, playing cello, making up jokes, or trying a new recipe. I find inspiration in my environment and love seeking out new oppoortunities. :)
</p></div>
<br>
<br>
<h3>
        Technological Skill Set
    </h3>
<div id="tech">
    <img src="../../assets/angular.png" >
    <img src="../../assets/aws.png" >
    <img src="../../assets/bootstrap.png" >
    <img src="../../assets/css3.png" >
    <img src="../../assets/django.png" >
    <img src="../../assets/express.png" >
    <img src="../../assets/github.png" >
    <img src="../../assets/gitoriginal.png" >
    <img src="../../assets/html5.png" >
    <img src="../../assets/javascript.png" >
    <img src="../../assets/jquery.png" >
    <img src="../../assets/mongodb.png" >
    <img src="../../assets/mysql.png" >
    <img src="../../assets/nginx.png" >
    <img src="../../assets/nodejs.png" >
    <img src="../../assets/npm.png" >
    <img src="../../assets/postgresql.png" >
    <img src="../../assets/python.png" >
    <img src="../../assets/rails.png" >
    <img src="../../assets/ruby.png" >
    <img src="../../assets/slack.png" >
    <img src="../../assets/typescript.png" >
    <img src="../../assets/ubuntu.png" >
    <img src="../../assets/vagrant.png" >
    <h5>Always prepared and excited to learn new tehnologies!</h5>
   </div>
   

